/node_modules
/public/hot
/public/storage
/public/app
/public/uploads
/assets/uploads
public/assets/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
storage/framework/laravel-excel/*
public/assets/company.png
Dockerfile
docker-compose.yml
nginx.conf
mysql/
/public/assets/image/mew_license_attachment
/public/assets/image/new_business_land_image

